In [14]:
import timeit
import pandas as pd
import numpy as np
from scipy.stats import entropy
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

# Clean and tokenize text
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

nltk.download('stopwords') # download stopwords corpus
nltk.download('punkt') # download punkt tokenizer

# For linear regression
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/Hannah/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/Hannah/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## Set directory

In [15]:
%cd /Users/Hannah/Documents/VU/Msc/Thesis/Coding/Pipeline

/Users/Hannah/Documents/VU/Msc/Thesis/Coding/Pipeline

## Combine data files into one csv file

In [16]:
def combine_csv_files(folder_path):
    """Combines CSV files in a folder with identical structures and creates a new ID column."""
    # Get all CSV files in the folder
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    # Read each CSV file and concatenate them
    df_list = []
    for file in csv_files:
        filepath = os.path.join(folder_path, file)
        df = pd.read_csv(filepath)
        df_list.append(df)
    combined_df = pd.concat(df_list, ignore_index=True)
    # Create a new ID column
    combined_df['new_id'] = combined_df.index + 1
    # Return the combined dataframe
    return combined_df

In [17]:
df = combine_csv_files('/Users/Hannah/Documents/VU/Msc/Thesis/Data')

In [18]:
df

,id,name,shares,likes,loves,wow,cares,sad,angry,haha,reactions_count,comments,content,posted_on,video,image,post_url,new_id
0,10163934331094852,RTL Nieuws,0,8,0,17,0,0,0,14,39,0,Medewerkers van een aquarium in Spanje aten ge...,2023-04-12T09:02:35.449176,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/rtlnieuws/posts/10163...,1
1,pfbid0MNttLFWrXMdGhQLKxP8QN2oYUYMFTGAGJFQXRDSB...,RTL Nieuws,0,4,0,1,0,0,0,10,15,0,"""Er wordt wiet gerookt in het boek, gezoend, e...",2023-04-12T08:32:35.537125,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/rtlnieuws/posts/pfbid...,2
2,pfbid02cqcq58k9w5SLa53oX3MHzdZiwHZUxYEC9a8ad7a...,RTL Nieuws,1,18,0,0,11,0,0,38,67,206,"Andy en het team van de dragbar laten zich, on...",2023-04-12T08:29:35.621594,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/rtlnieuws/posts/pfbid...,3
3,pfbid0XyK1zTeuXos7fNePGukpjuob3JVi6f6vju6wNgeS...,RTL Nieuws,2,0,0,4,7,19,0,0,30,26,Onder de slachtoffers waren volgens VN-mensenr...,2023-04-12T08:29:35.694415,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/rtlnieuws/posts/pfbid...,4
4,10163934192809852,RTL Nieuws,5,25,0,12,0,0,0,21,58,284,Alleen al de afgelopen drie dagen kwamen meer ...,2023-04-12T07:29:35.769006,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/rtlnieuws/posts/10163...,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,pfbid0HzY3V69B9rkeEDrJiGfbjUhgj1iAgV7Y2J51zXbd...,De Telegraaf,3,56,0,0,0,0,0,47,103,169,Elke aardbewoner surft jaarlijks gemiddeld mee...,2023-03-18T21:13:00,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/telegraaf/posts/pfbid...,9996
9996,pfbid023hQpKyewhbaryhXvZoX1gPqoDVXaQYHz6iTEwkD...,De Telegraaf,4,43,0,0,0,0,0,17,60,26,De Nederlander en zijn team Red Bull hadden de...,2023-03-18T20:45:00,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/telegraaf/posts/pfbid...,9997
9997,pfbid08baTHn1nbH3iCdrbNAG1DHdwArfiSFGVXL9r1bgX...,De Telegraaf,2,9,0,0,0,0,23,39,71,65,„We weten weinig van de mogelijke effecten van...,2023-03-18T20:13:00,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/telegraaf/posts/pfbid...,9998
9998,pfbid02NtGCYQ3VdJAcoWMvaSb7vvy4BdCLb1Y2d7LBEPo...,De Telegraaf,3,25,6,0,0,0,0,60,91,135,Het rommelt binnen het CDA.,2023-03-18T19:47:00,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/telegraaf/posts/pfbid...,9999
9999,pfbid0uv9xaZ6BgEGeY1fcXjzCzU6hUiEZ5sgScRAUkaWB...,De Telegraaf,0,62,0,0,0,32,0,21,115,0,Balen!,2023-03-18T18:53:00,[],https://external-ams4-1.xx.fbcdn.net/emg1/v/t1...,https://www.facebook.com/telegraaf/posts/pfbid...,10000

In [19]:
def add_columns(df, col1, col2, new_col_name):
    df[new_col_name] = df[col1] + df[col2]
    return df

df = add_columns(df, 'likes', 'loves', 'like')
df = df.drop(columns=['video', 'image', 'id', 'likes', 'loves'])
df = df[df['reactions_count'] > 40]

## Calculate Entropy

In [20]:
#Descriptive functions

def calculate_Entropy(dataframe):
    # Select only the columns that contain the Facebook reaction counts
    reaction_columns = ["like", "wow", "cares", "sad", "angry", "haha"]
    dataframe_reactions = dataframe[reaction_columns]

    # Calculate the total count of reactions for each row
    total_counts = dataframe_reactions.sum(axis=1)

    # Calculate the probability of each reaction class for each row
    probabilities = dataframe_reactions.div(total_counts, axis=0)

    # Replace any NaN or 0 probabilities with a small non-zero value
    probabilities = probabilities.replace(np.nan, 0).replace(0, 1e-8)

    # Calculate the entropy of the distribution for each row
    entropies = -np.sum(probabilities * np.log2(probabilities), axis=1)

    # Add the entropy as a new column to the DataFrame
    dataframe["entropy"] = entropies

    return dataframe

## Descriptive statistics

In [21]:

# Get descriptive statistics
def descriptive_Entropy(dataframe):
    print(dataframe.describe())
    return 

# Plot descriptive statistics
def plot_descriptive_stats(dataframe, figsize=(10, 8)):
    """
    Generate visually appealing plots of descriptive statistics for a pandas DataFrame.
    
    Parameters:
        dataframe (pandas DataFrame): The input DataFrame to generate plots for.
        figsize (tuple): The size of the figure to be plotted.
    
    """
    # Calculate descriptive statistics
    desc_stats = dataframe.describe()
    
    if not os.path.exists("Plots_VK"):
        os.makedirs("Plots_VK")
    
    # Plot histogram for each numerical column
    for col in desc_stats.columns:
        if pd.api.types.is_numeric_dtype(dataframe[col]):
            fig, ax = plt.subplots(figsize=figsize)
            sns.histplot(data=dataframe, x=col, kde=True, color="skyblue", alpha=0.8)
            ax.set_xlabel(col.capitalize())
            ax.set_ylabel("Frequency")
            ax.set_title(f"Histogram of {col.capitalize()}")
            plt.savefig(f"Plots_VK/histogram_{col}.png")  # Save the plot as an image file
            plt.show()
    
    # Plot boxplot for each numerical column
    for col in desc_stats.columns:
        if pd.api.types.is_numeric_dtype(dataframe[col]):
            fig, ax = plt.subplots(figsize=figsize)
            sns.boxplot(data=dataframe, x=col, color="skyblue", width=0.5, fliersize=3)
            ax.set_xlabel(col.capitalize())
            ax.set_ylabel("Value")
            ax.set_title(f"Boxplot of {col.capitalize()}")
            plt.savefig(f"Plots_VK/boxplot_{col}.png")  # Save the plot as an image file
            plt.show()
    
    # Plot countplot for each categorical column
    for col in desc_stats.columns:
        if pd.api.types.is_categorical_dtype(dataframe[col]):
            fig, ax = plt.subplots(figsize=figsize)
            sns.countplot(data=dataframe, x=col, color="skyblue")
            ax.set_xlabel(col.capitalize())
            ax.set_ylabel("Count")
            ax.set_title(f"Countplot of {col.capitalize()}")
            plt.savefig(f"Plots_VK/countplot_{col}.png")  # Save the plot as an image file
            plt.show()

In [22]:
df = calculate_Entropy(df)
#descriptive_Entropy(df)
#plot_descriptive_stats(df)

## Length analysis

In [23]:
# Length analysis of the text data

df['word_count'] = df["content"].apply(lambda x: len(str(x).split(" ")))
df['char_count'] = df["content"].apply(lambda x: sum(len(word) for word in str(x).split(" ")))
df['sentence_count'] = df["content"].apply(lambda x: len(str(x).split(".")))
df['avg_word_length'] = df['char_count'] / df['word_count']
df['avg_sentence_length'] = df['word_count'] / df['sentence_count']
df.head()

,name,shares,wow,cares,sad,angry,haha,reactions_count,comments,content,posted_on,post_url,new_id,like,entropy,word_count,char_count,sentence_count,avg_word_length,avg_sentence_length
2,RTL Nieuws,1,0,11,0,0,38,67,206,"Andy en het team van de dragbar laten zich, on...",2023-04-12T08:29:35.621594,https://www.facebook.com/rtlnieuws/posts/pfbid...,3,18,1.401409,32,143,4,4.468750,8.000000
4,RTL Nieuws,5,12,0,0,0,21,58,284,Alleen al de afgelopen drie dagen kwamen meer ...,2023-04-12T07:29:35.769006,https://www.facebook.com/rtlnieuws/posts/10163...,5,25,1.524281,23,109,2,4.739130,11.500000
5,RTL Nieuws,1,0,0,0,0,0,48,4,De ploeg van bondscoach Jeroen Jacobs begint o...,2023-04-12T07:29:35.836126,https://www.facebook.com/rtlnieuws/posts/10163...,6,48,0.000001,16,83,3,5.187500,5.333333
6,RTL Nieuws,4,17,0,0,0,52,106,16,De reddingsactie vond plaats in het Lake Distr...,2023-04-12T06:29:35.917920,https://www.facebook.com/rtlnieuws/posts/10163...,7,37,1.457549,19,120,2,6.315789,9.500000
7,RTL Nieuws,8,21,0,0,0,0,59,56,Het verkochte paar schoenen is een paar zwart-...,2023-04-12T06:29:41.240267,https://www.facebook.com/rtlnieuws/posts/10163...,8,38,0.939256,20,104,2,5.200000,10.000000

## Append source name to the text

In [24]:
# Add source name to the end of the content
def append_source_name(df):
    """
    Appends the name of the source to the end of the content in the 'content' column of the DataFrame.
    
    Parameters:
        df (pandas.DataFrame): The DataFrame with the 'name' and 'content' columns.
    
    Returns:
        pandas.DataFrame: The DataFrame with the updated 'content' column.
    """
    if pd.notnull(df['content']):
        return str(df['content']) + ' ' + df['name']
    else:
        return np.nan

In [25]:
df['content'] = df.apply(append_source_name, axis=1)

## Save back to csv

In [26]:
df.to_csv('Indicator-Desc_Data-High_RC.csv', index=False)